footer {
    min-height: 70px;
    width: 100vw;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 15px;
    z-index: 1;
}

footer img {
    margin-right: 13px;
}

footer p{
    margin: 15px 0;
    width: 60vw;
    text-align: center;
    line-height: 22px;
}

footer .icons {
    display: flex;
    margin-top: 0.3em;
}

button.restart {
    width: 167px;
    height: 32px;
    background: #FB6B6B;
    border-radius: 5px;
    border: none;
    color: #FFFFFF;
    font-size: 14px;
    text-align: center;
    margin-top: 1em;
}