.start {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.start header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.start header img {
    width: 136px;
    margin-top: 10vh;
}

.start button {
    margin-top: 40px;
}

.start header h1 {
    margin-top: 1em;
}

.start button.disabled {
    background-color: #E8E8E8;
    color: #C0C0C0;
    border: none;
}

.start input,
.start select {
    width: 90vw;
    max-width: 600px;
    height: 43px;
    background: #FFFFFF;
    border-radius: 5px;
    color: #333333;
    border: none;
    padding: 7px;
    margin-top: 1em;
}

.start input::placeholder {
    color: #ADADAD;
}

.start select {
    font-family: 'Recursive', sans-serif;
    color: #333333;
    font-size: 14px;
}